<h1>Make a new ice cream!</h1>

<% if @ice_cream.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@ice_cream.errors.count, "error") %>
      prohibited this ice_cream from being saved:
    </h2>

    <ul>
    <% @ice_cream.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@ice_cream) do |f|%>
  <div>
    <%= f.label :flavor %>
    <%= f.text_field :flavor %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <p> Select a Brand that already exists: </p>
  <div>
    <%= f.collection_select :brand_id, Brand.all, :id, :name, include_blank: 'Select One'%>

  </div>

  <p> Or create a new Brand: </p>
  <div>
    <%=f.fields_for :brand do |b| %>
      <%= b.label :name %>
      <%= b.text_field :name %>
    <% end %>
  </div>
  <br>
  <%= f.submit %>
<% end %>

